<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2">
      <h1>
        Resources
      </h1>
      <p >
        An evolving reading list of resources.
      </p>
      <h3>
        Books and Reading
      </h3>
      <ul>
        <li>
          <%= link_to "Conditional Design: An introduction to elemental architecture", "https://www.amazon.com/Conditional-Design-introduction-elemental-architecture/dp/9063693656/", target: "_blank" %>
        </li>
        <li>
          <%= link_to "Operative Design: A Catalog of Spatial Verbs", "https://www.amazon.com/Operative-Design-Catalog-Spatial-Verbs/dp/9063692897/", target: "_blank" %>
        </li>
        <li>
          <%= link_to "Prefab Homes", "https://www.amazon.com/Prefab-Homes-Shire-Library-Book-ebook/dp/B01DPPWKTK/", target: "_blank" %>
        </li>
        <li>
          <%= link_to "A Pattern Language: Towns, Buildings, Construction", "https://www.amazon.com/Pattern-Language-Buildings-Construction-Environmental/dp/0195019199/", target: "_blank" %>
        </li>
        <li>
          <%= link_to "See What I Mean: How to Use Comics to Communicate Ideas", "https://www.amazon.com/gp/product/1933820276", target: "_blank" %>
        </li>
        <li>
          <%= link_to "The Structure of the Ordinary: Form and Control in the Built Environment", "https://www.amazon.com/Structure-Ordinary-Control-Built-Environment/dp/0262581957/", target: "_blank" %>
        </li>
        <li>
          <%= link_to "Towards a New Architecture", "https://www.amazon.com/Towards-New-Architecture-Dover/dp/0486250237/", target: "_blank" %>
        </li>
        <li>
          <%= link_to "Value Stream Mapping", "https://en.wikipedia.org/wiki/Value-stream_mapping", target: "_blank" %>
        </li>
        <li>
          <%= link_to "101 Things I Learned in Architecture School", "https://www.amazon.com/101-Things-Learned-Architecture-School/dp/0262062666/", target: "_blank" %>
        </li>
      </ul>
      <h3>
        Videos
      </h3>
      <ul>
        <li>
          <%= link_to "The Next Leap: How A.I. will change the 3D industry - Andrew Price", "https://www.youtube.com/watch?v=FlgLxSLsYWQ", target: "_blank" %>
        </li>
      </ul>
      <h3>
        Computational design
      </h3>
      <p>
        These papers extend beyond architecture into systems theory, computer science, and urban planning.
      </p>
      <ul>
        <li>
          <%= link_to "Software Reflexion Models", "http://www.cs.toronto.edu/~gelahi/Ref/Reflexion%20models.pdf", target: "_blank" %>
        </li>
        <li>
          <%= link_to "Process mapping techniques and organizational analysis", "https://www.emeraldinsight.com/doi/abs/10.1108/14637150210418629", target: "_blank" %>
        </li>
        <li>
          <%= link_to "Thinking Maps", "https://en.wikipedia.org/wiki/Thinking_Maps", target: "_blank" %>
        </li>
      </ul>
      <h3>
        Working Notes
      </h3>
      <ul>
        <li>
          <%= link_to "Slides - Concept and Company", "https://docs.google.com/presentation/d/1TdGw98HeaExb5iQIUd9GPxZu09Eo6KXJpyHWdif2cco/edit#slide=id.i0", target: "_blank" %>
        </li>
        <li>
          <%= link_to "Slides - Product", "https://docs.google.com/presentation/d/19SxFFNQTpsUJGjC4LgWUnwVJCEiToaIqKf0G5kElaYw/edit#slide=id.g4defb32569_0_13", target: "_blank" %>
        </li>
        <li>
          <%= link_to "Slides - Process", "https://docs.google.com/presentation/d/1irniMbbVMoHZlVnzYyKRIyHpsj6zKvstzHLGkNEKutY/edit#slide=id.g4defb32569_0_13", target: "_blank" %>
        </li>
        <li>
          <%= link_to "Parts List", "https://docs.google.com/spreadsheets/d/1q9BGxNVrh6CPR9bpPeK-V93LhWi__46iSkFM2BBp6t4/edit#gid=0", target: "_blank" %>
        </li>
        <li>
          <%= link_to "Finances", "https://docs.google.com/spreadsheets/d/1cLlfC3onv5gv2yrjuUtK_BvOBu3xZ4tQAhJXTtpSLnk/edit#gid=0", target: "_blank" %>
        </li>
      </ul>
    </div>
  </div>
</div>
