<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2">
      <h1>
        Resources
      </h1>
      <p>
        an evolving reading list of resources
      </p>
      <ul>
        <li>
          <%= link_to "101 Things I Learned in Architecture School", "https://www.amazon.com/101-Things-Learned-Architecture-School/dp/0262062666/", target: "_blank" %>
        </li>
        <li>
          <%= link_to "Conditional Design: An introduction to elemental architecture", "https://www.amazon.com/Conditional-Design-introduction-elemental-architecture/dp/9063693656/", target: "_blank" %>
        </li>
        <li>
          <%= link_to "Operative Design: A Catalog of Spatial Verbs", "https://www.amazon.com/Operative-Design-Catalog-Spatial-Verbs/dp/9063692897/", target: "_blank" %>
        </li>
        <li>
          <%= link_to "Prefab Homes", "https://www.amazon.com/Prefab-Homes-Shire-Library-Book-ebook/dp/B01DPPWKTK/", target: "_blank" %>
        </li>
        <li>
          <%= link_to "A Pattern Language: Towns, Buildings, Construction", "https://www.amazon.com/Pattern-Language-Buildings-Construction-Environmental/dp/0195019199/", target: "_blank" %>
        </li>
        <li>
          <%= link_to "The Structure of the Ordinary: Form and Control in the Built Environment", "https://www.amazon.com/Structure-Ordinary-Control-Built-Environment/dp/0262581957/", target: "_blank" %>
        </li>
        <li>
          <%= link_to "The Structure of the Ordinary: Form and Control in the Built Environment", "https://www.amazon.com/Structure-Ordinary-Control-Built-Environment/dp/0262581957/", target: "_blank" %>
        </li>
        <li>
          <%= link_to "Towards a New Architecture", "https://www.amazon.com/Towards-New-Architecture-Dover/dp/0486250237/", target: "_blank" %>
        </li>
      </ul>
    </div>
  </div>
</div>
