<div class="row parts-list">
  <div class="col-md-12">
    <h1 style="text-align: center; margin: 5em 0;">
      Parts List
    </h1>

    <div class="row">
      <div class="col-md-4">
        <a href="<%= image_url "parts/House" %>">Example Room</a>
        <br>
        <a href="<%= image_url "parts/House" %>" target="_blank">
          <%= image_tag "parts/House", class: "img-responsive", alt: "house" %>
        </a>
      </div>
      <div class="col-md-4">
        <a href="<%= image_url "parts/Foundation Block.png" %>">Foundation Blocks</a>
        <br>
        <a href="<%= image_url "parts/Foundation Block.png" %>" target="_blank">
          <%= image_tag "parts/Foundation Block.png", alt: "Foundation block" %>
        </a>
      </div>
      <div class="col-md-4">
        <a href="<%= image_url "parts/Roof.png" %>">Roof Panels</a>
        <br>
        <a href="<%= image_url "parts/Roof.png" %>" target="_blank">
          <%= image_tag "parts/Roof.png", alt: "Roof" %>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <a href="<%= image_url "parts/Main Utilities.png" %>">Main Utilities: Cable, Phone, and Water Adapters</a>
        <br>
        <a href="<%= image_url "parts/Main Utilities.png" %>" target="_blank">
          <%= image_tag "parts/Main Utilities.png", alt: "Main utilities" %>
        </a>
      </div>
      <div class="col-md-4">
        <a href="<%= image_url "parts/Vertical Support - 2m.png" %>">Horizontal Load Beam</a>
        <br>
        <a href="<%= image_url "parts/Vertical Support - 2m.png" %>" target="_blank">
          <%= image_tag "parts/Vertical Support - 2m.png", alt: "Vertical support - 2m" %>
        </a>
      </div>
      <div class="col-md-4">
        <a href="<%= image_url "parts/Vertical Support Topper.png" %>">Horizontal Load Beam Topper</a>
        <br>
        <a href="<%= image_url "parts/Vertical Support Topper.png" %>" target="_blank">
          <%= image_tag "parts/Vertical Support Topper.png", alt: "Vertical support topper" %>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <a href="<%= image_url "parts/Wall Panels.png" %>">Wall Panels</a>
        <br>
        <a href="<%= image_url "parts/Wall Panels.png" %>" target="_blank">
          <%= image_tag "parts/Wall Panels.png", alt: "Wall panels" %>
        </a>
      </div>
      <div class="col-md-4">
        <a href="<%= image_url "parts/Windows.png" %>">Windows</a>
        <br>
        <a href="<%= image_url "parts/Windows.png" %>" target="_blank">
          <%= image_tag "parts/Windows.png", alt: "Windows" %>
        </a>
      </div>
      <div class="col-md-4">
        <a href="<%= image_url "parts/Door Handle.png" %>">Door Handle</a>
        <br>
        <a href="<%= image_url "parts/Door Handle.png" %>" target="_blank">
          <%= image_tag "parts/Door Handle.png", alt: "Door handle" %>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <a href="<%= image_url "parts/Door.png" %>">Door</a>
        <br>
        <a href="<%= image_url "parts/Door.png" %>" target="_blank">
          <%= image_tag "parts/Door.png", alt: "Door" %>
        </a>
      </div>
      <div class="col-md-4">
        <a href="<%= image_url "parts/Flor Tiling.png" %>">Floor Tiles</a>
        <br>
        <a href="<%= image_url "parts/Flor Tiling.png" %>" target="_blank">
          <%= image_tag "parts/Flor Tiling.png", alt: "Flor tiling" %>
        </a>
      </div>
      <div class="col-md-4">
        <a href="<%= image_url "parts/Wall Switch.png" %>">Wall Switch</a>
        <br>
        <a href="<%= image_url "parts/Wall Switch.png" %>" target="_blank">
          <%= image_tag "parts/Wall Switch.png", alt: "Wall Switch" %>
        </a>
      </div>
    </div>
  </div>
</div>
